<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="2cea5e1c-2ebd-4c5f-af45-b1ed8423994b" Publisher="CN=Daniele" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ClientDiProva.Windows</DisplayName>
    <PublisherDisplayName>Daniele</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ClientDiProva.Windows.App">
      <m2:VisualElements DisplayName="ClientDiProva.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="ClientDiProva.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="enterpriseAuthentication" />
    <Capability Name="internetClientServer" />
    <Capability Name="musicLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="sharedUserCertificates" />
    <Capability Name="removableStorage" />
    <Capability Name="videosLibrary" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>